<%- include('includes/header') %>

<div class="container py-md-5 container--narrow mt-5 mb-5">
  <%- include("includes/flash") %>
  <div class="text-center">
    <h2>Hello <strong><%= user.username %></strong>, this is your home dashboard</h2>
</div>


  

<%- include('includes/footer') %>
